/*=============== ABOUT ===============*/

.about-me {
  padding-top: 4rem;

  @include bp-md {
    padding: 6rem 0;
  }
}

.about__container {
  display: flex;
  flex-direction: column;

  @include bp-md {
    flex-direction: row;
  }
}

.about-me__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include bp-md {
    flex-direction: row-reverse;
    padding: 6rem 0 5rem 0;
  }
}

.about__image-wrapper {
  width: 100%;

  @include bp-md {
    width: 50%;
  }
}

.about__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about__data {
  width: 100%;
  background-color: var(--background-color);
  padding: 4rem 2.4rem;
  color: var(--text-color);
  font-size: 1.8rem;
  line-height: 190%;

  @include bp-md {
    padding: 7rem 9.5rem 7rem 6rem;
    width: 50%;
  }
}

.about__title {
  margin-bottom: 1.6rem;

  @include bp-md {
    margin-bottom: 4rem;
  }
}

.about__description {
  font-size: var(--normal-font-size);
  line-height: 150%;
}

.about-me__content-text {
  @include bp-md {
    max-width: 50%;
    margin-left: 6rem;
  }
}

.about-me__text {
  max-width: 24rem;
  @include bp-md {
    max-width: 100%;
  }
}

.about-me__name {
  margin-bottom: 0.4rem;
  font-size: 1.5rem;
  line-height: 155%;
  font-weight: var(--font-medium);

  @include bp-md {
    font-size: 2.3rem;
  }
}

.about-me__industry {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  line-height: 155%;
  color: var(--accent-text);
  @include bp-md {
    font-size: 2rem;
  }
}

.about-me__message {
  line-height: 190%;
  margin-bottom: 2rem;
  @include bp-md {
    margin-bottom: 5rem;
  }
}

.about-me__wrapper-image {
  max-width: 21rem;
  margin: 2.4rem 0 3rem 0;
  @include bp-md {
    max-width: 50%;
    margin: 0;
  }
}
