/*=============== BUTTONS ===============*/
.button{
    display: inline-block;
    background-color: transparent;
    color: var(--title-color);
    padding: 1.3rem 6.4rem;
    border-radius: 99em;
    font-weight: var(--font-medium);
    line-height: 190%;
    transition: .3s;
    border: 1px solid #000;

    &:hover{
        background-color: #EEEFE0;
    }

    &:active{
        background-color: #E8F074;
    }

    &--ghost{
        border: 2px solid;
        background-color: transparent;
        border-radius: 3rem;
        padding: .75rem 1.5rem;

        &:hover{
            background: none;
        }
    }
    &--link{
        color: var(--title-color);
    }
    &--flex{
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;
    }
}

.button-circle{
    border-radius: 999rem;
    width: 6.0rem;
    height: 6.0rem;
    text-align: center;
    line-height: 6rem;
    background-color: var(--body-color);
    svg{
        width: 18px;
        height: 18px;
        position: relative;
        left: 3px;
    }
}